{% extends 'base.html.twig' %}
{% block body %}
  <div class="accueil forum cree--post">
    <div class="wrapper">
      <div class="popup popup--info">
        <a href="/blog">
          <button class="button--circle botton--close"></button>
        </a>
        <div class="popup__content">
          <div class="post--new">
            <div class="form">
              {{ form_start(formArticle) }}
              <div class="form__line">
                {{ form_row(formArticle.title, {
                        'attr' : {
                            'placeholder' : "Titre de l'article"
                        }
                    }) }}
              </div>
              <div class="form__field">
                {{ form_row(formArticle.content, {
                        'attr' : {
                            'placeholder' : "Ecrit ton histoire",
                        }
                    }) }}
              </div>
              <div class="form__line">
                {{ form_row(formArticle.image, {
                        'attr' : {
                            'placeholder' : "URL de l'image"
                        }
                    }) }}
              </div>
              <div class="form__line">
                {{ form_row(formArticle.category) }}
              </div>
              <div class="form__button">
                <input class="button--sendPost" type="submit">
              </div>

              {{ form_end(formArticle) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock  %}
